@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: lightblue;
}
h1{
    text-align: center;
    margin: 2%;
}
h2{
    text-align: center;
}
#miembros{
    display: flex;
    flex-wrap: wrap;
}
.personajes{
    background-color:lightcoral;
    width: 28%;
    margin:2%;
    padding: 2%;
    border-radius: 20px;
    list-style: none;
}
.personajes h3, div{
    padding: 10px 0px 10px 0px;
}
.personajes:hover{
    scale: 1.1;
    box-shadow: 1px;
}